@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .correct {
        display: inline-block;
        color: black;
    }

    .wrong {
        display: inline-block;
        color: #ef4444;
    }

    .untyped {
        display: inline-block;
        --tw-text-opacity: 1;
        color: #e2e8f0;
    }

    .caret {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 25px;
        background-color: black;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
    }

    @keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }
    @-webkit-keyframes blink-animation {
        to {
            visibility: hidden;
        }
    }

}