@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .correct {
        display: inline-block;
        color: black;
    }

    .wrong {
        display: inline-block;
        color: rgb(160, 43, 43)
    }

    .untyped {
        display: inline-block;
        --tw-text-opacity: 1;
        color: rgb(156 163 175 / var(--tw-text-opacity));
    }
}